{% capture selected_pubs %}
  {% bibliography --group_by none --query @*[selected=true]* %}
{% endcapture %}

{% assign cleaned = selected_pubs | strip %}

{% if cleaned != '' %}
  <div class="publications">
    {{ selected_pubs }}
  </div>
{% endif %}
